@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", "sans-serif";
    color: #fff;
    border: 0;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;
}

header {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 100px;
    background-color: #0e0e0e;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.logo a img{
    width: 80px;
    height: 80px;
}

.navbar a {
    position: relative;
    font-size: 0.8em;
    text-decoration: none;
    color: #d1d1d1;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a:hover {
    color: #009c1a;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    background: #c7c4c4;
    transform: scaleX(0);
    transition: all 0.3s;
}

.navbar a:hover::after {
    transform: scaleX(1);
    background: #009c1a;
}

main {
    margin-top: 4%;
    display: flex;
    justify-content: space-around;
}

table {
    width: 400px;
    border-collapse: collapse;
    margin-top: 10px;   
    background-color: #0e0e0e;
    border-radius: 15px;
    overflow: hidden;

}

table, th, td {
    border: none;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #009c1a;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

td {
    font-size: 14px;
}

td a {
    margin-right: 10px;
    font-size: 14px;
    color: #009c1a;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
    color: #003609;
}

@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    form input[type="text"], form input[type="submit"], a.button {
        font-size: 14px;
    }

    table, th, td {
        font-size: 12px;
        padding: 10px;
    }
}