@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins", "sans-serif";
    color: #fff;
    border: 0;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    height: 100vh;
    justify-content: center;
    align-items: center;
    user-select: none;
}

header {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 100px;
    z-index: 999;
    background-color: #0e0e0e;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.logo a img{
    width: 80px;
    height: 80px;
}


.navbar a {
    position: relative;
    font-size: 0.8em;
    text-decoration: none;
    color: #d1d1d1;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a:hover {
    color: #009c1a;
}

.navbar a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: -6px;
    border-radius: 5px;
    background: #c7c4c4;
    transform: scaleX(0);
    transition: all 0.3s;
}

.navbar a:hover::after {
    transform: scaleX(1);
    background: #009c1a;
}

.titulo {
    margin-top: 5%;
    margin-left: 5%;
    border-bottom: 3px solid #009c1a;
    font-weight:bold;
    font-size: 1.2em;
    width: 85%; 
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3%;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgb(0, 0, 0, .5);
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
    box-shadow: 0 1px 5px rgb(0, 0, 0, .5);
}

.card-content {
    padding: 16px;
}

.card-content h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p {
    color: #fff;
    font-size: 17px;
    line-height: 1.3;
}

.card-content .btn {
    width: 100%;
    height: 50px;
    display: inline-block;
    padding: 1px 16px;
    background-color: #009c1a;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 16px;
    color: #fff;
    transition: transform 0.3s ease;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-content .btn:hover{
    background-color: #003609;
    transition: 0.7s;
}